3uTools画像解析にスクリーンショット画像をアップロードして て その下に 査定写真を追加する場所がありますが これは では は 外観査定 不具合故障等を選択して 仮査定の範囲を下回っていた場合のみ 選択できるように 中性 そして場所も 不具合故障のフィールドと 本査定完了のフィールドの間に設置 基本情報デバイス情報に関しては モデル番号を追加する で この機種カラー容量のフィールド内容が 実際のものと一致しないと 進めないように してほしいけど 必須ではないので 任せます 実装するかどうか 進捗を選択 ん? 進捗は基本情報 デバイス情報ではなく く メッセージを送信したら 本査定完了に進捗が切り替わる こういう風にする でここの場所から進捗は消して ok 今言った内容以外は問題なし 外観査定は 特に問題なし アクセシャリーの方も問題ないし 不具合故障に関しては 今までは 不具合か修理 の項目から 同じ症状のものを不具合と修理それぞれで選択して 買取金額が高くなる方を選択していたが 今は変装交渉が必須になっているので 修理可能なものは修理の項目に入れて 修理可能ではないもの を不具合の 項目に入れる 要は アウトカメラの故障 とかバイブレーション不具合 だとか フラッシュの故障だとか不具合のところに 選択項目 チェックボックスがあるが これは修理可能なものなので 修理の方に入れる 不具合からは 削除するといった具合 そして そして外観査定と不具合故障の内容に応じて書いてある金額が決定し さっき言った 写真を 撮るべきか否か 金額によって決まるので 必要であれば写真を撮影してここに添付する 必要なければ 本査定のメッセージを生成して お客様に送信するというフローです