@charset "Shift_JIS";
/*
Helpers
-----------------------------*/
/*
Normalize
-----------------------------*/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/**
 * Remove default margin.
 */
body {
  margin: 0; }

main.mic-main, main.mic-main--sp {
  display: block; }

.mic-main, .mic-main--sp {
  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  /**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
  /* Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  /* Text-level semantics
     ========================================================================== */
  /**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
  /**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
  /**
   * Address styling not present in Safari and Chrome.
   */
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
  /**
   * Address styling not present in IE 8/9.
   */
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  /* Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */
  /**
   * Correct overflow not hidden in IE 9/10/11.
   */
  /* Grouping content
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari.
   */
  /**
   * Address differences between Firefox and other browsers.
   */
  /**
   * Contain overflow in all browsers.
   */
  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */
  /* Forms
     ========================================================================== */
  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  /**
   * Re-set default cursor for disabled elements.
   */
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  /**
   * Define consistent border, margin, and padding.
   */
  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  /* Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */ }
  .mic-main article, .mic-main--sp article,
  .mic-main aside, .mic-main--sp aside,
  .mic-main details, .mic-main--sp details,
  .mic-main figcaption, .mic-main--sp figcaption,
  .mic-main figure, .mic-main--sp figure,
  .mic-main footer, .mic-main--sp footer,
  .mic-main header, .mic-main--sp header,
  .mic-main hgroup, .mic-main--sp hgroup,
  .mic-main main, .mic-main--sp main,
  .mic-main menu, .mic-main--sp menu,
  .mic-main nav, .mic-main--sp nav,
  .mic-main section, .mic-main--sp section,
  .mic-main summary, .mic-main--sp summary {
    display: block; }
  .mic-main audio, .mic-main--sp audio,
  .mic-main canvas, .mic-main--sp canvas,
  .mic-main progress, .mic-main--sp progress,
  .mic-main video, .mic-main--sp video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }
  .mic-main audio:not([controls]), .mic-main--sp audio:not([controls]) {
    display: none;
    height: 0; }
  .mic-main [hidden], .mic-main--sp [hidden],
  .mic-main template, .mic-main--sp template {
    display: none; }
  .mic-main a, .mic-main--sp a {
    background-color: transparent; }
  .mic-main a:active, .mic-main--sp a:active,
  .mic-main a:hover, .mic-main--sp a:hover {
    outline: 0; }
  .mic-main abbr[title], .mic-main--sp abbr[title] {
    border-bottom: 1px dotted; }
  .mic-main b, .mic-main--sp b,
  .mic-main strong, .mic-main--sp strong {
    font-weight: bold; }
  .mic-main dfn, .mic-main--sp dfn {
    font-style: italic; }
  .mic-main mark, .mic-main--sp mark {
    background: #ff0;
    color: #000; }
  .mic-main small, .mic-main--sp small {
    font-size: 80%; }
  .mic-main sub, .mic-main--sp sub,
  .mic-main sup, .mic-main--sp sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .mic-main sup, .mic-main--sp sup {
    top: -0.5em; }
  .mic-main sub, .mic-main--sp sub {
    bottom: -0.25em; }
  .mic-main img, .mic-main--sp img {
    border: 0; }
  .mic-main svg:not(:root), .mic-main--sp svg:not(:root) {
    overflow: hidden; }
  .mic-main figure, .mic-main--sp figure {
    margin: 1em 40px; }
  .mic-main hr, .mic-main--sp hr {
    box-sizing: content-box;
    height: 0; }
  .mic-main pre, .mic-main--sp pre {
    overflow: auto; }
  .mic-main code, .mic-main--sp code,
  .mic-main kbd, .mic-main--sp kbd,
  .mic-main pre, .mic-main--sp pre,
  .mic-main samp, .mic-main--sp samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  .mic-main button, .mic-main--sp button,
  .mic-main input, .mic-main--sp input,
  .mic-main optgroup, .mic-main--sp optgroup,
  .mic-main select, .mic-main--sp select,
  .mic-main textarea, .mic-main--sp textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }
  .mic-main button, .mic-main--sp button {
    overflow: visible; }
  .mic-main button, .mic-main--sp button,
  .mic-main select, .mic-main--sp select {
    text-transform: none; }
  .mic-main button, .mic-main--sp button,
  .mic-main html input[type="button"], .mic-main--sp html input[type="button"],
  .mic-main input[type="reset"], .mic-main--sp input[type="reset"],
  .mic-main input[type="submit"], .mic-main--sp input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }
  .mic-main button[disabled], .mic-main--sp button[disabled],
  .mic-main html input[disabled], .mic-main--sp html input[disabled] {
    cursor: default; }
  .mic-main button::-moz-focus-inner, .mic-main--sp button::-moz-focus-inner,
  .mic-main input::-moz-focus-inner, .mic-main--sp input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .mic-main input, .mic-main--sp input {
    line-height: normal; }
  .mic-main input[type="checkbox"], .mic-main--sp input[type="checkbox"],
  .mic-main input[type="radio"], .mic-main--sp input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .mic-main input[type="number"]::-webkit-inner-spin-button, .mic-main--sp input[type="number"]::-webkit-inner-spin-button,
  .mic-main input[type="number"]::-webkit-outer-spin-button, .mic-main--sp input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  .mic-main input[type="search"], .mic-main--sp input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    /* 2 */
    box-sizing: content-box; }
  .mic-main input[type="search"]::-webkit-search-cancel-button, .mic-main--sp input[type="search"]::-webkit-search-cancel-button,
  .mic-main input[type="search"]::-webkit-search-decoration, .mic-main--sp input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .mic-main fieldset, .mic-main--sp fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .mic-main legend, .mic-main--sp legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .mic-main textarea, .mic-main--sp textarea {
    overflow: auto; }
  .mic-main optgroup, .mic-main--sp optgroup {
    font-weight: bold; }
  .mic-main table, .mic-main--sp table {
    border-collapse: collapse;
    border-spacing: 0; }
  .mic-main td, .mic-main--sp td,
  .mic-main th, .mic-main--sp th {
    padding: 0; }

html {
  font-size: 62.5%; }

* {
  box-sizing: border-box; }

/*
Frames
-----------------------------*/
.mic-main, .mic-main--sp {
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  width: 964px;
  margin: 20px auto 0 16px;
  padding: 0;
  color: #333333;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 600;
  line-height: 1.2em; }
  .mic-main::after, .mic-main--sp::after {
    content: '';
    display: table;
    clear: both; }
  @media screen and (max-width: 480px) {
    .mic-main--sp {
      width: 100%;
      margin: 0;
      padding: 20px 10px; } }
  .mic-main h1, .mic-main--sp h1, .mic-main h2, .mic-main--sp h2, .mic-main h3, .mic-main--sp h3 {
    width: 100%; }
  .mic-main h1, .mic-main--sp h1 {
    padding: 0;
    background: #ffffff; }
  .mic-main h2, .mic-main--sp h2 {
    margin-top: 20px; }
  .mic-main i, .mic-main--sp i {
    font-style: normal; }
  .mic-main p, .mic-main--sp p {
    margin-top: 0; }
  .mic-main dl dt, .mic-main--sp dl dt {
    margin-bottom: 0; }
  .mic-main th, .mic-main--sp th, .mic-main td, .mic-main--sp td {
    word-wrap: break-word;
    word-break: break-all; }
  .mic-main ul, .mic-main--sp ul, .mic-main ol, .mic-main--sp ol {
    list-style: none;
    margin: 0;
    padding: 0;
    /*IE7*/
    *margin: 0; }
    .mic-main ul li, .mic-main--sp ul li, .mic-main ol li, .mic-main--sp ol li {
      /*IE7*/
      *margin: 0; }
  .mic-main form > ul .mic-text-indent:last-child, .mic-main--sp form > ul .mic-text-indent:last-child,
  .mic-main .mic-section > ul .mic-text-indent:last-child, .mic-main--sp .mic-section > ul .mic-text-indent:last-child,
  .mic-main .mic-section--sp > ul .mic-text-indent:last-child, .mic-main--sp .mic-section--sp > ul .mic-text-indent:last-child,
  .mic-main .mic-section__inner > ul .mic-text-indent:last-child, .mic-main--sp .mic-section__inner > ul .mic-text-indent:last-child {
    margin-bottom: 1.0em; }
  .mic-main .mic-section > p.mic-text-indent, .mic-main--sp .mic-section > p.mic-text-indent, .mic-main .mic-section--sp > p.mic-text-indent, .mic-main--sp .mic-section--sp > p.mic-text-indent,
  .mic-main .mic-section__inner > p.mic-text-indent, .mic-main--sp .mic-section__inner > p.mic-text-indent {
    margin-bottom: 1.0em; }
  .mic-main .mic-section p a, .mic-main--sp .mic-section p a, .mic-main .mic-section--sp p a, .mic-main--sp .mic-section--sp p a {
    color: #002b82 !important; }
    .mic-main .mic-section p a:link, .mic-main--sp .mic-section p a:link, .mic-main .mic-section--sp p a:link, .mic-main--sp .mic-section--sp p a:link, .mic-main .mic-section p a:visited, .mic-main--sp .mic-section p a:visited, .mic-main .mic-section--sp p a:visited, .mic-main--sp .mic-section--sp p a:visited, .mic-main .mic-section p a:hover, .mic-main--sp .mic-section p a:hover, .mic-main .mic-section--sp p a:hover, .mic-main--sp .mic-section--sp p a:hover, .mic-main .mic-section p a:active, .mic-main--sp .mic-section p a:active, .mic-main .mic-section--sp p a:active, .mic-main--sp .mic-section--sp p a:active {
      text-decoration: underline; }

.mic-inner, .mic-inner--sp {
  width: 720px;
  max-width: 720px;
  min-width: 320px;
  float: right; }
  @media screen and (max-width: 480px) {
    .mic-inner--sp {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      float: none; } }

.mic-layout, .mic-layout--column1, .mic-layout--column2, .mic-layout--column3 {
  clear: both;
  overflow: hidden; }
  .mic-layout__item, .mic-layout__item--sp {
    float: right; }
    .mic-layout--column1 .mic-layout__item, .mic-layout--column1 .mic-layout__item--sp {
      float: none; }
      .mic-layout--column1 .mic-layout__item--w50 {
        width: 50%;
        margin: 0 0 20px;
        margin-right: auto;
        margin-left: auto; }
    .mic-layout--column2 .mic-layout__item, .mic-layout--column2 .mic-layout__item--sp {
      width: 50%;
      margin: 0 0 20px;
      padding: 0; }
      .mic-layout--column2 .mic-layout__item:nth-child(odd), .mic-layout--column2 .mic-layout__item--sp:nth-child(odd) {
        padding-left: 10px; }
      .mic-layout--column2 .mic-layout__item:nth-child(even), .mic-layout--column2 .mic-layout__item--sp:nth-child(even) {
        padding-right: 10px; }
    .mic-layout--column3 .mic-layout__item, .mic-layout--column3 .mic-layout__item--sp {
      width: 33.33333%;
      margin: 0 0 20px;
      padding: 0 12px 0 0; }
      .mic-layout--column3 .mic-layout__item:nth-child(3n + 1), .mic-layout--column3 .mic-layout__item--sp:nth-child(3n + 1) {
        padding-left: 12px;
        padding-right: 0; }
      .mic-layout--column3 .mic-layout__item:nth-child(3n + 2), .mic-layout--column3 .mic-layout__item--sp:nth-child(3n + 2) {
        padding-left: 6px;
        padding-right: 6px; }
    @media screen and (max-width: 480px) {
      .mic-layout--column1 .mic-layout__item--sp {
        margin: 0 0 20px; } }
    @media screen and (max-width: 480px) {
      .mic-layout--column2 .mic-layout__item--sp {
        width: 100%; }
        .mic-layout--column2 .mic-layout__item--sp:nth-child(odd), .mic-layout--column2 .mic-layout__item--sp:nth-child(even) {
          padding-right: 0;
          padding-left: 0; } }
    @media screen and (max-width: 769px) {
      .mic-layout--column3 .mic-layout__item--sp {
        width: 100%; }
        .mic-layout--column3 .mic-layout__item--sp:nth-child(n) {
          padding-right: 0;
          padding-left: 0; } }
    @media screen and (max-width: 480px) {
      .mic-layout--column4 .mic-layout__item--sp {
        margin: 0 0 5px; } }
    .mic-layout__item p:last-child, .mic-layout__item--sp p:last-child {
      margin: 0; }

/*
Components
-----------------------------*/
.mic-accordion {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  border-radius: 4px;
  border: 1px solid #999999;
  font-size: 18px;
  text-align: left; }
  .mic-accordion:hover {
    border-color: #002b82; }
  .mic-accordion__header {
    padding: 10px 42px 10px 18px;
    cursor: pointer; }
    .mic-accordion__header::before {
      -webkit-transition: all ease 0.25s;
              transition: all ease 0.25s;
      display: block;
      width: 10px;
      height: 10px;
      border: 2px solid #002b82;
      border-bottom-width: 0;
      border-left-width: 0;
      content: "";
      position: absolute;
      top: 0.6em;
      right: 18px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
      -ms-transform: rotate(135deg); }
  .mic-accordion__body {
    display: none;
    margin: 0;
    padding: 10px 18px;
    border-top: 1px solid #999999;
    font-size: 14px;
    line-height: 1.5em; }
  .mic-accordion.is-active:hover {
    border-color: #999999; }
  .mic-accordion.is-active .mic-accordion__header::before {
    top: 0.9em;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
    -ms-transform: rotate(315deg); }
  .mic-accordion.is-active .mic-accordion__body {
    display: block; }
  .mic-accordion-table {
    margin: 0 0 20px;
    padding: 0; }
    .mic-accordion-table__item {
      border: 0 solid #999999;
      overflow: hidden; }
      .mic-accordion-table__item:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-width: 1px; }
    .mic-accordion-table__header, .mic-accordion-table__header--single-line {
      display: block;
      position: relative;
      min-height: 44px;
      margin: 0;
      padding: 5px 42px 5px 18px;
      border: 1px solid #999999;
      border-top-width: 3px;
      border-bottom-width: 0;
      border-top-style: double;
      color: #333333 !important;
      font-size: 12px;
      text-decoration: none; }
      .mic-accordion-table__item:first-child .mic-accordion-table__header, .mic-accordion-table__item:first-child .mic-accordion-table__header--single-line {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-width: 1px;
        border-top-style: solid; }
      .mic-block-acordionbox .mic-accordion-table__item .mic-accordion-table__header, .mic-block-acordionbox .mic-accordion-table__item .mic-accordion-table__header--single-line {
        border-top-width: 1px; }
      .mic-block-acordionbox .mic-accordion-table__item:first-child .mic-accordion-table__header, .mic-block-acordionbox .mic-accordion-table__item:first-child .mic-accordion-table__header--single-line {
        border-top-right-radius: 0;
        border-top-left-radius: 0; }
      .mic-accordion-table__header::before, .mic-accordion-table__header--single-line::before {
        -webkit-transition: all ease 0.25s;
                transition: all ease 0.25s;
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #002b82;
        border-bottom-width: 0;
        border-left-width: 0;
        content: "";
        position: absolute;
        top: 50%;
        right: 18px;
        -webkit-transform: translateY(-50%) rotate(135deg);
                transform: translateY(-50%) rotate(135deg); }
        .mic-accordion-table__item.is-active .mic-accordion-table__header::before, .mic-accordion-table__item.is-active .mic-accordion-table__header--single-line::before {
          top: calc(50% - 5px);
          -webkit-transform: rotate(315deg);
                  transform: rotate(315deg);
          -ms-transform: rotate(315deg); }
    .mic-accordion-table__header--single-line {
      line-height: 33px; }
    .mic-accordion-table__body {
      display: none;
      margin: 0;
      overflow: hidden; }
      @media print {
        .mic-accordion-table__body {
          display: block !important; } }

.mic-block-topicpath {
  margin: 10px auto 40px auto;
  width: 100%;
  max-width: 720px;
  position: relative;
  z-index: 0; }
  .mic-block-topicpath__inner {
    margin: 0;
    padding: 0 0 0px;
    border-bottom: 2px solid #002b82;
    color: #333333;
    font-size: 14px;
    line-height: 1.3em;
    text-align: left; }
  .mic-block-topicpath a {
    color: #002b82;
    text-decoration: underline; }
    .mic-block-topicpath a:link, .mic-block-topicpath a:visited, .mic-block-topicpath a:hover, .mic-block-topicpath a:active {
      color: #000000;
      text-decoration: none; }

.mic-block-totalfee, .mic-block-totalfee--sp {
  position: relative;
  margin: 0 0 20px;
  border-bottom: 4px solid #002b82; }
  .mic-block-totalfee::after, .mic-block-totalfee--sp::after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 480px) {
    .mic-block-totalfee--sp {
      margin: 0px 10px 20px 10px; } }
  .mic-block-totalfee__title, .mic-block-totalfee__title--sp {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    float: left;
    margin-left: 20px; }
    @media screen and (max-width: 480px) {
      .mic-block-totalfee__title--sp {
        margin-left: 0px;
        float: none; } }
  .mic-block-totalfee__fee, .mic-block-totalfee__fee--sp {
    color: #002b82;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    float: right; }
    @media screen and (max-width: 480px) {
      .mic-block-totalfee__fee--sp {
        float: none;
        text-align: right; } }

.mic-block-card, .mic-block-card--sp {
  padding-left: 20px;
  font-size: 14px; }
  .mic-block-card__detail, .mic-block-card__detail--sp {
    width: 100%;
    color: #002b82; }
    .mic-block-card__detail p, .mic-block-card__detail--sp p {
      margin-bottom: 5px; }
    .mic-block-card__detail dl, .mic-block-card__detail--sp dl {
      width: 100%;
      margin: 0px; }
      .mic-block-card__detail dl dt, .mic-block-card__detail--sp dl dt {
        float: left;
        clear: both;
        margin-right: 30px; }
      .mic-block-card__detail dl dd, .mic-block-card__detail--sp dl dd {
        color: #002b82; }
    @media screen and (max-width: 480px) {
      .mic-block-card__detail--sp dl dt {
        margin: 0px; } }
    @media screen and (max-width: 480px) {
      .mic-block-card__detail--sp dl dd {
        text-align: right; } }
  .mic-block-card__notes, .mic-block-card__notes--sp {
    margin: 0 0 60px; }
    @media screen and (max-width: 480px) {
      .mic-block-card__notes--sp {
        margin: 0 0 40px; } }
  @media screen and (max-width: 480px) {
    .mic-block-card--sp {
      margin: 0px 10px 20px 10px;
      padding: 0px; } }

.mic-block-contact h4 {
  margin-top: 0;
  margin-bottom: 8px; }

.mic-block-output {
  width: 50%; }
  .mic-block-output__print {
    width: 25%;
    float: right;
    clear: both;
    margin-right: 5px; }
  .mic-block-output__right {
    width: 50%;
    float: right;
    clear: both; }

.mic-block-address {
  margin-bottom: 20px;
  font-size: 14px;
  background-color: #eff4ff;
  padding: 20px; }
  .mic-block-address__title {
    font-weight: 600; }
  .mic-block-address ul {
    margin-bottom: 0; }

.mic-block-loan {
  font-size: 14px;
  color: #333333; }
  .mic-block-loan p {
    line-height: 1.2em; }

.mic-block-scrollbox {
  border: 1px solid #999999;
  margin-bottom: 20px; }
  .mic-block-scrollbox .mic-table-head th:last-child {
    border-right: none; }
  .mic-block-scrollbox__inner {
    overflow-y: scroll;
    height: 250px; }
    .mic-block-scrollbox__inner .mic-table-bg {
      margin-bottom: 0px;
      border-top: none;
      border-left: none; }
      .mic-block-scrollbox__inner .mic-table-bg td:last-child td {
        border-bottom: none; }

.mic-block-jfsa {
  width: 100%;
  max-width: 420px;
  padding: 10px 0px;
  margin: 0px auto 20px auto;
  border: 1px solid #999999; }
  .mic-block-jfsa__header {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #999999;
    font-size: 14px;
    text-align: center;
    line-height: 1; }
    .mic-block-jfsa__header > img {
      display: inline-block;
      margin: 0 0 0 0.5em;
      vertical-align: middle; }
  .mic-block-jfsa__body {
    font-size: 12px;
    text-align: center;
    margin: 0px 10px 0px 10px; }

.mic-block-focus {
  margin: 0 0 20px;
  padding: 20px;
  background-color: #eff4ff;
  font-size: 14px; }

.mic-block-scroll-table {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #999999;
  font-size: 12px !important; }
  .mic-block-scroll-table__header {
    margin: 0;
    padding: 0; }
    @media print {
      .mic-block-scroll-table__header {
        padding-right: 0 !important; } }
  .mic-block-scroll-table__body {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto; }
    @media print {
      .mic-block-scroll-table__body {
        max-height: 100%;
        overflow-y: hidden; } }

.mic-block-banner {
  margin-bottom: 40px; }
  @media print {
    .mic-block-banner {
      display: none; } }

.mic-block-img, .mic-block-img--pc {
  margin-bottom: 40px;
  text-align: center; }
  .mic-block-img img, .mic-block-img--pc img {
    max-width: 100%; }
  .mic-block-img--pc {
    margin-bottom: 0; }

.mic-block-bonus-payment {
  margin-bottom: 40px; }

.mic-block-form-submit {
  margin-bottom: 20px; }

.mic-block-errmsg {
  color: #cc0000; }

.mic-block-notes p:not(:last-child), .mic-block-notes--sp p:not(:last-child) {
  margin-bottom: 0 !important; }

.mic-block-notes p:last-child, .mic-block-notes--sp p:last-child {
  margin-bottom: 20px; }

.mic-block-notes li:last-child, .mic-block-notes--sp li:last-child {
  margin-bottom: 20px; }

.mic-block-notes ol, .mic-block-notes--sp ol {
  list-style: decimal;
  margin: 0;
  padding: 0 0 0 18px; }

.mic-block-notes dl, .mic-block-notes--sp dl {
  margin: 0; }
  .mic-block-notes dl dd, .mic-block-notes--sp dl dd {
    margin-left: 18px; }

@media screen and (max-width: 480px) {
  .mic-block-notes--sp {
    font-size: 14px; } }

.mic-block-acordionbox .mic-table, .mic-block-acordionbox .mic-table--accordion {
  margin: 0; }

.mic-block-details-partial {
  margin-bottom: 40px; }

.mic-block-partialfee {
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #999999;
  background-color: #eff4ff; }
  .mic-block-partialfee__title {
    margin: 0;
    font-size: 12px;
    color: #333333; }
  .mic-block-partialfee__fee {
    margin: 0;
    text-align: right;
    font-size: 18px;
    color: #002b82; }

.mic-block-display-inline-block {
	display: inline-block;
}

.mic-btn, .mic-btn--sp, .mic-btn--w50, .mic-btn--row-double, .mic-btn-print, .mic-btn-back, .mic-btn-back--sp, .mic-btn-submit, .mic-btn-submit--row-double {
  -webkit-transition: all ease 0.25s;
          transition: all ease 0.25s;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 8px 30px 8px 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  border: 4px solid #002b82;
  background-color: #ffffff;
  color: #002b82 !important;
  text-align: center;
  font-size: 18px !important;
  font-weight: 600;
  line-height: 1.2em !important;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  .mic-btn:disabled, .mic-btn--sp:disabled, .mic-btn--w50:disabled, .mic-btn--row-double:disabled, .mic-btn-print:disabled, .mic-btn-back:disabled, .mic-btn-back--sp:disabled, .mic-btn-submit:disabled, .mic-btn-submit--row-double:disabled, .mic-btn.is-disabled, .is-disabled.mic-btn--sp, .is-disabled.mic-btn--w50, .is-disabled.mic-btn--row-double, .is-disabled.mic-btn-print, .is-disabled.mic-btn-back, .is-disabled.mic-btn-back--sp, .is-disabled.mic-btn-submit, .is-disabled.mic-btn-submit--row-double {
    opacity: 0.3;
    pointer-events: none; }
  .mic-btn::before, .mic-btn--sp::before, .mic-btn--w50::before, .mic-btn--row-double::before, .mic-btn-print::before, .mic-btn-back::before, .mic-btn-back--sp::before, .mic-btn-submit::before, .mic-btn-submit--row-double::before {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #002b82;
    border-bottom-width: 0;
    border-left-width: 0;
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
    -ms-transform: translateY(-5px) rotate(45deg); }
  .mic-btn:hover, .mic-btn--sp:hover, .mic-btn--w50:hover, .mic-btn--row-double:hover, .mic-btn-print:hover, .mic-btn-back:hover, .mic-btn-back--sp:hover, .mic-btn-submit:hover, .mic-btn-submit--row-double:hover {
    background-color: #002b82;
    color: #ffffff !important; }
    .mic-btn:hover::before, .mic-btn--sp:hover::before, .mic-btn--w50:hover::before, .mic-btn--row-double:hover::before, .mic-btn-print:hover::before, .mic-btn-back:hover::before, .mic-btn-back--sp:hover::before, .mic-btn-submit:hover::before, .mic-btn-submit--row-double:hover::before {
      right: 15px;
      width: 16px;
      height: 16px;
      border-color: #ffffff;
      border-top-width: 4px;
      border-right-width: 4px;
      -webkit-transform: translateY(-10px) rotate(45deg);
              transform: translateY(-10px) rotate(45deg);
      -ms-transform: translateY(-10px) rotate(45deg); }
  @media screen and (max-width: 769px) {
    .mic-btn--sp {
      padding-left: 8px; }
      .mic-btn--sp br {
        display: none; } }
  .mic-btn--w50 {
    width: 50%;
    margin-right: auto;
    margin-left: auto; }
  .mic-btn--row-double {
    height: 66px; }
  .mic-btn-print {
    padding: 8px 4px; }
    .mic-btn-print::before, .mic-btn-print::after {
      display: none; }
  .mic-btn-back, .mic-btn-back--sp {
    padding: 8px 4px; }
    .mic-btn-back::before, .mic-btn-back--sp::before {
      left: 18px;
      -webkit-transform: translateY(-5px) rotate(225deg);
              transform: translateY(-5px) rotate(225deg);
      -ms-transform: translateY(-5px) rotate(225deg); }
    @media screen and (max-width: 769px) {
      .mic-btn-back--sp {
        padding-left: 40px;
        padding-right: 8px; }
        .mic-btn-back--sp br {
          display: none; } }
    .mic-btn-back:hover::before, .mic-btn-back--sp:hover::before {
      left: 15px;
      -webkit-transform: translateY(-10px) rotate(225deg);
              transform: translateY(-10px) rotate(225deg);
      -ms-transform: translateY(-10px) rotate(225deg); }
  .mic-btn-submit, .mic-btn-submit--row-double {
    /* IE11/Edge Hack */ }
    .mic-btn-submit, .mic-btn-submit--row-double, .mic-btn-submit _:-ms-lang(x), .mic-btn-submit--row-double _:-ms-lang(x) {
      line-height: 2.4em !important; }
    .mic-btn-submit--row-double {
      /* IE11/Edge Hack */ }
      .mic-btn-submit--row-double, .mic-btn-submit--row-double _:-ms-lang(x) {
        line-height: 1.2em !important; }
  .mic-btn__inner, .mic-btn__inner--sp {
    display: table-cell;
    width: 100%;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none; }
    .mic-btn--row-double .mic-btn__inner, .mic-btn--row-double .mic-btn__inner--sp {
      height: 42px; }
    @media screen and (max-width: 769px) {
      .mic-btn__inner--sp br {
        display: none; } }
    @media screen and (max-width: 769px) {
      .mic-btn--row-double .mic-btn__inner--sp {
        height: auto; } }

.mic-form-select, .mic-form-select--sp, .mic-form-select--left, .mic-form-select--right, .mic-form-select--sm {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  z-index: 0;
  cursor: pointer;
  background-color: #ffffff; }
  @media screen and (max-width: 769px) {
    .mic-form-select--sp {
      min-height: 32px; } }
  .mic-form-select--sp select {
    min-height: 32px; }
  .mic-form-select--left {
    float: left;
    width: 50%;
    margin-left: -10px; }
    .mic-form-select--left select {
      padding-right: 58px !important; }
  .mic-form-select--right {
    float: right;
    width: 50%; }
    .mic-form-select--right select {
      padding-right: 58px !important; }
  .mic-form-select select, .mic-form-select--sp select, .mic-form-select--left select, .mic-form-select--right select, .mic-form-select--sm select {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
    position: relative;
    width: 100%;
    max-height: 36px;
    padding: 8px 68px 8px 20px;
    border-radius: 4px;
    border: 1px solid #999999;
    background: url("../images/bg_dropdown.png") center right no-repeat;
    font-size: 12px;
    text-align: left;
    white-space: normal;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
    /*-- IE hack --*/
    padding-right: 13px\9; }
    .mic-form-select select:focus::-ms-value, .mic-form-select--sp select:focus::-ms-value, .mic-form-select--left select:focus::-ms-value, .mic-form-select--right select:focus::-ms-value, .mic-form-select--sm select:focus::-ms-value {
      background-color: transparent;
      color: #333333; }
    .mic-form-select select::-ms-expand, .mic-form-select--sp select::-ms-expand, .mic-form-select--left select::-ms-expand, .mic-form-select--right select::-ms-expand, .mic-form-select--sm select::-ms-expand {
      display: none; }
    .mic-form-select select:hover, .mic-form-select--sp select:hover, .mic-form-select--left select:hover, .mic-form-select--right select:hover, .mic-form-select--sm select:hover {
      border-color: #002b82; }
    .mic-form-select select.is-invalid, .mic-form-select--sp select.is-invalid, .mic-form-select--left select.is-invalid, .mic-form-select--right select.is-invalid, .mic-form-select--sm select.is-invalid {
      border-color: #cc0000 !important; }
  .mic-form-select--sm {
    display: inline-block;
    height: 29px;
    margin-bottom: 0; }
    .mic-form-select--sm select {
      padding: 2px 16px 2px 3px;
      height: 29px;
      background: url("../images/bg_dropdown-sm.png") center right no-repeat; }

.mic-form-input, .mic-form-input--sp {
  display: inline-block;
  width: 80%;
  height: 30px;
  padding: 0 2px;
  border-radius: 2px;
  border: 1px solid #999999;
  font-size: 12px; }
  @media screen and (max-width: 769px) {
    .mic-form-input--sp {
      width: calc(100% - 1.5em); } }
  .mic-form-input.is-invalid, .is-invalid.mic-form-input--sp {
    border-color: #cc0000 !important; }

.mic-form-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer; }
  .mic-form-checkbox__body {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 2px solid #999999;
    background: #ffffff; }
    .mic-form-checkbox__body::before {
      -webkit-transition: all ease 0.25s;
              transition: all ease 0.25s;
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 13px;
      height: 7px;
      border: 3px solid #002b82;
      border-bottom-width: 0;
      border-left-width: 0;
      content: "";
      opacity: 0;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
  .mic-form-checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
    .mic-form-checkbox__input:checked ~ .mic-form-checkbox__body {
      border-color: #002b82; }
      .mic-form-checkbox__input:checked ~ .mic-form-checkbox__body::before {
        opacity: 1; }
    .mic-form-checkbox__input.is-invalid ~ .mic-form-checkbox__body {
      border-color: #cc0000 !important; }
  .mic-form-checkbox:hover .mic-form-checkbox__body {
    border-color: #002b82; }

.mic-form-input-forTable {
  width: 80%;
  margin-right: -4px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #999999; }

.mic-form-errors {
  list-style-type: disc;
  margin: 0 0 20px;
  padding: 0 0 0 20px;
  color: #cc0000; }
  .mic-form-errors__item {
    margin: 0 0 5px;
    padding: 0;
    font-weight: 600; }

.mic-icon--link {
  background: url("../images/ico_txtlink.png") center left no-repeat;
  background-size: 6px 10px;
  padding-left: 10px;
  color: #002b82 !important; }
  .mic-icon--link:link, .mic-icon--link:visited, .mic-icon--link:hover, .mic-icon--link:active {
    text-decoration: underline; }

.mic-label {
  display: inline-block; }
  .mic-label__unit {
    margin-left: 5px; }

.mic-section, .mic-section--sp {
  clear: both;
  margin-bottom: 40px; }
  @media screen and (max-width: 480px) {
    .mic-section--sp {
      margin-bottom: 20px; } }
  .mic-section__inner {
    clear: both;
    margin-bottom: 20px; }

.mic-table-account {
  width: 100%;
  line-height: 1.3em;
  font-size: 12px !important;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-collapse: collapse;
  margin-bottom: 20px; }
  .mic-table-account th,
  .mic-table-account td {
    line-height: 1.3em;
    padding: 8px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    font-size: 12px !important; }
  .mic-table-account th {
    font-weight: 600;
    text-align: center;
    background-color: #eff4ff; }
  .mic-table-account td {
    color: #002b82; }
    .mic-table-account td p {
      line-height: 1.2em; }

.mic-table, .mic-table--accordion {
  width: 100%;
  table-layout: fixed;
  font-size: 12px !important;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-collapse: collapse;
  margin: 0 0 20px; }
  .mic-table th, .mic-table--accordion th,
  .mic-table td, .mic-table--accordion td {
    line-height: 1.3em;
    padding: 8px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    font-size: 12px !important; }
  .mic-table th, .mic-table--accordion th {
    font-weight: 600;
    text-align: center;
    background-color: #eff4ff; }
  .mic-table td, .mic-table--accordion td {
    text-align: right; }
    .mic-table td ul, .mic-table--accordion td ul {
      margin-bottom: 0; }
  .mic-table--accordion {
    margin: 0; }
    .mic-table--accordion tr:last-child th, .mic-table--accordion tr:last-child td {
      border-bottom-width: 0; }

.mic-table-billingstatement {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 0 20px;
  font-size: 12px !important; }
  .mic-table-billingstatement th,
  .mic-table-billingstatement td {
    line-height: 1.3em;
    padding: 8px;
    border: 1px solid #999999;
    font-size: 12px !important; }
  .mic-table-billingstatement th {
    background-color: #eff4ff;
    font-weight: 600;
    text-align: center; }
  .mic-table-billingstatement td {
    text-align: right; }
    .mic-table-billingstatement td ul {
      margin-bottom: 0; }

.mic-table-bg {
  width: 100%;
  font-size: 12px !important;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-collapse: collapse;
  margin-bottom: 20px; }
  .mic-table-bg th,
  .mic-table-bg td {
    line-height: 1.3em;
    padding: 8px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    font-size: 12px !important; }
  .mic-table-bg th {
    font-weight: 600;
    text-align: center;
    background-color: #eff4ff; }
  .mic-table-bg td {
    text-align: right; }
    .mic-table-bg td ul {
      margin-bottom: 0; }

.mic-table-head {
  width: 100%;
  font-size: 12px !important;
  border-collapse: collapse;
  margin-bottom: 0px; }
  .mic-table-head th,
  .mic-table-head td {
    line-height: 1.3em;
    padding: 8px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    font-size: 12px !important; }
  .mic-table-head th {
    font-weight: 600;
    text-align: center;
    background-color: #eff4ff; }

.mic-table-bd-top--dotted {
  border-top: 1px dotted #999999 !important; }

.mic-table-bd-top--double {
  border-top: 3px double #999999 !important; }

.mic-table-bd-top--solid {
  border-top: 1px solid #999999 !important; }

.mic-table-bd-top--none {
  border-top: none !important; }

.mic-table-bd-right--dotted {
  border-right: 1px dotted #999999 !important; }

.mic-table-bd-right--double {
  border-right: 3px double #999999 !important; }

.mic-table-bd-right--solid {
  border-right: 1px solid #999999 !important; }

.mic-table-bd-right--none {
  border-right: none !important; }

.mic-table-bd-bottom--dotted {
  border-bottom: 1px dotted #999999 !important; }

.mic-table-bd-bottom--double {
  border-bottom: 3px double #999999 !important; }

.mic-table-bd-bottom--solid {
  border-bottom: 1px solid #999999 !important; }

.mic-table-bd-bottom--none {
  border-bottom: none !important; }

.mic-table-bd-left--dotted {
  border-left: 1px dotted #999999 !important; }

.mic-table-bd-left--double {
  border-left: 3px double #999999 !important; }

.mic-table-bd-left--solid {
  border-left: 1px solid #999999 !important; }

.mic-table-bd-left--none {
  border-left: none !important; }

.mic-table-cell--w1 {
  width: 1%; }

.mic-table-cell--w2 {
  width: 2%; }

.mic-table-cell--w3 {
  width: 3%; }

.mic-table-cell--w4 {
  width: 4%; }

.mic-table-cell--w5 {
  width: 5%; }

.mic-table-cell--w6 {
  width: 6%; }

.mic-table-cell--w7 {
  width: 7%; }

.mic-table-cell--w8 {
  width: 8%; }

.mic-table-cell--w9 {
  width: 9%; }

.mic-table-cell--w10 {
  width: 10%; }

.mic-table-cell--w11 {
  width: 11%; }

.mic-table-cell--w12 {
  width: 12%; }

.mic-table-cell--w13 {
  width: 13%; }

.mic-table-cell--w14 {
  width: 14%; }

.mic-table-cell--w15 {
  width: 15%; }

.mic-table-cell--w16 {
  width: 16%; }

.mic-table-cell--w17 {
  width: 17%; }

.mic-table-cell--w18 {
  width: 18%; }

.mic-table-cell--w19 {
  width: 19%; }

.mic-table-cell--w20 {
  width: 20%; }

.mic-table-cell--w21 {
  width: 21%; }

.mic-table-cell--w22 {
  width: 22%; }

.mic-table-cell--w23 {
  width: 23%; }

.mic-table-cell--w24 {
  width: 24%; }

.mic-table-cell--w25 {
  width: 25%; }

.mic-table-cell--w26 {
  width: 26%; }

.mic-table-cell--w27 {
  width: 27%; }

.mic-table-cell--w28 {
  width: 28%; }

.mic-table-cell--w29 {
  width: 29%; }

.mic-table-cell--w30 {
  width: 30%; }

.mic-table-cell--w31 {
  width: 31%; }

.mic-table-cell--w32 {
  width: 32%; }

.mic-table-cell--w33 {
  width: 33%; }

.mic-table-cell--w34 {
  width: 34%; }

.mic-table-cell--w35 {
  width: 35%; }

.mic-table-cell--w36 {
  width: 36%; }

.mic-table-cell--w37 {
  width: 37%; }

.mic-table-cell--w38 {
  width: 38%; }

.mic-table-cell--w39 {
  width: 39%; }

.mic-table-cell--w40 {
  width: 40%; }

.mic-table-cell--w41 {
  width: 41%; }

.mic-table-cell--w42 {
  width: 42%; }

.mic-table-cell--w43 {
  width: 43%; }

.mic-table-cell--w44 {
  width: 44%; }

.mic-table-cell--w45 {
  width: 45%; }

.mic-table-cell--w46 {
  width: 46%; }

.mic-table-cell--w47 {
  width: 47%; }

.mic-table-cell--w48 {
  width: 48%; }

.mic-table-cell--w49 {
  width: 49%; }

.mic-table-cell--w50 {
  width: 50%; }

.mic-table-cell--w51 {
  width: 51%; }

.mic-table-cell--w52 {
  width: 52%; }

.mic-table-cell--w53 {
  width: 53%; }

.mic-table-cell--w54 {
  width: 54%; }

.mic-table-cell--w55 {
  width: 55%; }

.mic-table-cell--w56 {
  width: 56%; }

.mic-table-cell--w57 {
  width: 57%; }

.mic-table-cell--w58 {
  width: 58%; }

.mic-table-cell--w59 {
  width: 59%; }

.mic-table-cell--w60 {
  width: 60%; }

.mic-table-cell--w61 {
  width: 61%; }

.mic-table-cell--w62 {
  width: 62%; }

.mic-table-cell--w63 {
  width: 63%; }

.mic-table-cell--w64 {
  width: 64%; }

.mic-table-cell--w65 {
  width: 65%; }

.mic-table-cell--w66 {
  width: 66%; }

.mic-table-cell--w67 {
  width: 67%; }

.mic-table-cell--w68 {
  width: 68%; }

.mic-table-cell--w69 {
  width: 69%; }

.mic-table-cell--w70 {
  width: 70%; }

.mic-table-cell--w71 {
  width: 71%; }

.mic-table-cell--w72 {
  width: 72%; }

.mic-table-cell--w73 {
  width: 73%; }

.mic-table-cell--w74 {
  width: 74%; }

.mic-table-cell--w75 {
  width: 75%; }

.mic-table-cell--w76 {
  width: 76%; }

.mic-table-cell--w77 {
  width: 77%; }

.mic-table-cell--w78 {
  width: 78%; }

.mic-table-cell--w79 {
  width: 79%; }

.mic-table-cell--w80 {
  width: 80%; }

.mic-table-cell--w81 {
  width: 81%; }

.mic-table-cell--w82 {
  width: 82%; }

.mic-table-cell--w83 {
  width: 83%; }

.mic-table-cell--w84 {
  width: 84%; }

.mic-table-cell--w85 {
  width: 85%; }

.mic-table-cell--w86 {
  width: 86%; }

.mic-table-cell--w87 {
  width: 87%; }

.mic-table-cell--w88 {
  width: 88%; }

.mic-table-cell--w89 {
  width: 89%; }

.mic-table-cell--w90 {
  width: 90%; }

.mic-table-cell--w91 {
  width: 91%; }

.mic-table-cell--w92 {
  width: 92%; }

.mic-table-cell--w93 {
  width: 93%; }

.mic-table-cell--w94 {
  width: 94%; }

.mic-table-cell--w95 {
  width: 95%; }

.mic-table-cell--w96 {
  width: 96%; }

.mic-table-cell--w97 {
  width: 97%; }

.mic-table-cell--w98 {
  width: 98%; }

.mic-table-cell--w99 {
  width: 99%; }

.mic-table-cell--nowrap {
  white-space: nowrap; }

.mic-table-cell--p0 {
  padding: 0 !important; }

.mic-table-row--even {
  background-color: #f8f8f8; }
  .mic-table-row--even > td {
    background-color: #f8f8f8; }

.mic-table-scroll-fix {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 12px !important;
  line-height: 1.3em;
  text-align: right;
  word-break: break-all; }
  .mic-table-scroll-fix th,
  .mic-table-scroll-fix td {
    padding: 5px;
    border: 1px solid #999999;
    font-size: 12px !important; }
  .mic-table-scroll-fix td {
    border-bottom: 0px; }
  .mic-table-scroll-fix th {
    background-color: #eff4ff;
    font-weight: 600;
    text-align: center; }
  .mic-table-scroll-fix > tbody tr:first-child th, .mic-table-scroll-fix > tbody tr:first-child td {
    border-top-width: 0; }
  .mic-table-scroll-fix > tbody tr:last-child th, .mic-table-scroll-fix > tbody tr:last-child td {
    border-bottom-width: 0; }

.mic-text-expense {
  color: #002b82;
  font-weight: 600; }

.mic-text-caution {
  color: #002b82; }

.mic-text-indent {
  display: table;
  margin: 0;
  padding: 0; }
  .mic-text-indent__mark {
    display: table-cell;
    padding: 0 0.25em 0 0;
    white-space: nowrap; }
  .mic-text-indent a {
    color: #002b82 !important; }
    .mic-text-indent a:link, .mic-text-indent a:visited, .mic-text-indent a:hover, .mic-text-indent a:active {
      text-decoration: underline; }

.mic-text-caption {
  font-size: 14px;
  margin-bottom: 10px; }
  .mic-text-caption--bg {
    color: #ffffff !important;
    background-color: #999999 !important;
    font-size: 14px; }

.mic-text-center {
  text-align: center !important; }

.mic-text-right {
  text-align: right !important; }

.mic-text-left {
  text-align: left !important; }

.mic-text-link {
  color: #002b82 !important; }

.mic-text-dialog {
  margin: 0 0 0.5em;
  padding: 0; }
  .mic-text-dialog:last-child {
    margin-bottom: -5px; }
  .mic-text-dialog__header {
    margin: 0 0 0.5em;
    padding: 0;
    font-weight: 600; }
  .mic-text-dialog__body {
    margin: 0 0 0.5em;
    padding: 0; }

.mic-text-v-ajust {
  font-size: 11px;
  padding-top: 1.4em; }

.mic-text-v-ajust--sp {
  font-size: 12px; }

.mic-title1 {
  font-size: 24px;
  color: #000000;
  line-height: 1.2em; }
  @media screen and (max-width: 480px) {
    .mic-title1--sp {
      margin-bottom: 20px; } }

.mic-title1--sp {
  margin-bottom: 40px;
  font-size: 24px;
  color: #000000;
  line-height: 1.2em; }
  @media screen and (max-width: 480px) {
    .mic-title1--sp {
      margin-bottom: 20px; } }

.mic-title2 {
  margin-bottom: 20px;
  padding: 10px 0px 10px 12px;
  border-left: 12px solid #002b82;
  font-size: 24px;
  line-height: 1.2em;
  color: #002b82; }

.mic-title3 {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  color: #ffffff;
  background-color: #002b82; }

.mic-title-section--table {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2em;
  color: #ffffff;
  background-color: #999999; }

.mic-text-warning {
  display: block;
  border: 1px solid #002b82;
  color: #ff0000; }

  .mic-link {
    color: #002b82 !important;
    text-decoration: underline; }

.mic-text-small {
	font-size: 1.1rem;
}

/* block module */

.block_input-wrapper {
  overflow: hidden;
}

.block_input-wrapper .block_input-step ol {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

/* 仮追加 */
.block_input-wrapper--sp .block_input-step--sp ol {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.block_input-wrapper .block_input-step li {
  position: relative;
  display: table;
  float: left;
  width: 200px;
  height: 50px;
  margin-right: 20px;
}

/* 仮追加 */
.block_input-wrapper--sp .block_input-step--sp li {
  position: relative;
  display: table;
  float: left;
  width: 80px;
  height: 30px;
  margin-right: 20px;
  background-color: #edf4fd;
}

.block_input-wrapper .block_input-step li span {
  font-size: 20px;
  /*font-size: .8125rem;  仮削除*/
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #356bb3;
  background-color: #edf4fd;
}

/* 仮作成 */
.block_input-wrapper--sp .block_input-step--sp li span {
  font-size: 12px;
  /*font-size: .8125rem; 仮削除*/
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #356bb3;
  background-color: #edf4fd;
}

.block_input-wrapper .block_input-step li span br {
  display: none;
}

/* 仮作成 */
.block_input-wrapper--sp .block_input-step--sp li span br {
  display: none;
}

/* 仮作成 */
.block_input-wrapper--sp .block_input-step--sp li.is-current {
  background-color: #356bb3;
}

.block_input-wrapper .block_input-step li.is-current span {
  color: #ffffff;
  background-color: #356bb3;
}

.block_input-wrapper--sp .block_input-step--sp li.is-current span {
  color: #ffffff;
  background-color: #356bb3;
}

/* 仮作成 */
.block_input-wrapper--sp .block_input-step--sp li.is-done {
  background-color: #ededed;
}

.block_input-wrapper .block_input-step li.is-done span {
  color: #999999;
  background: #ededed url(../images/bg_step-done.png) 50% 50% no-repeat;
  background-size: 45px;
}

.block_input-wrapper--sp .block_input-step--sp li.is-done span {
  color: #999999;
  background: #ededed url(../images/bg_step-done.png) 50% 50% no-repeat;
  background-size: 25px;
}

.block_input-wrapper .block_input-step li:after {
  position: absolute;
  top: 0;
  right: -20px;
  display: table-cell;
  width: 20px;
  height: 50px;
  content: '';
  vertical-align: middle;
  background: url(../images/bg_arrow-flow.png) 50% 50% no-repeat;
}

.block_input-wrapper--sp .block_input-step--sp li:after {
  position: absolute;
  top: 0;
  right: -20px;
  display: table-cell;
  width: 20px;
  height: 30px;
  content: '';
  vertical-align: middle;
  background: url(../images/bg_arrow-flow.png) 50% 50% no-repeat;
}

.block_input-wrapper .block_input-step li.last-child {
  width: 80px;
  margin-right: 0;
}

.block_input-wrapper .block_input-step li.last-child span {
  color: #ffffff;
  background-color: #f25b72;
}

.block_input-wrapper .block_input-step li.last-child:after {
  display: none;
}

.block_input-wrapper--sp .block_input-step--sp{
  text-align: center;
}

.block_input-wrapper--sp .block_input-step--sp li.last-child {
  width: 80px;
  margin-right: 0;
}

.block_input-wrapper--sp .block_input-step--sp li.last-child span {
  color: #ffffff;
  background-color: #f25b72;
}

.block_input-wrapper--sp .block_input-step--sp li.last-child:after {
  display: none;
}

.block_input-wrapper .block_input-step li:last-child {
  width: 200px;
  margin-right: 0;
}

.block_input-wrapper .block_input-step li:last-child:after {
  display: none;
}

.block_input-wrapper--sp .block_input-step--sp li:last-child {
  width: 85px;
  margin-bottom: 0;
  margin-right: 0;
}

.block_input-wrapper--sp .block_input-step--sp li:last-child span {
  background-color: transparent;
}

.block_input-wrapper--sp .block_input-step--sp li:last-child:after {
  display: none;
}